.background {
  background-image: url("/UserBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  align-items: center;
}

@media (max-width: 680px) {
  .background {
    height: 400px;
  }
}


/* Dashboard Tab */
.tabContainer {
  flex-grow: 1 !important;
  background-color: 'background.paper' !important;
  display: 'flex' !important;
  height: 224 !important;
  align-items: "start" !important;
  margin-top: ".5rem" !important;
}

.tabStyle {
  justify-content: "flex-start";
  margin-left: "3rem";
  width: "15rem";
  min-height: '38px';
  height: '40px';
  font-size: ".9rem";
  border-right: 1;
  border-left: 1;
  border-color: 'divider';
  border-radius: '.4rem'
}