.formFiled {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background: white;
  margin: 10px 0;
}
.title {
  font-family: Helvetica;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
}
.formSelect {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 0.4rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.joinButton {
  background: #1eb0c4 !important;
  border-radius: 10px !important;
  font-family: Helvetica;
  font-style: normal;
  color: #ffffff !important;
  padding: 20px 48px 20px 48px !important;
  height: 44px;
  margin-top: 1.5rem;
}
.background {
  height: 100vh;
  background: url("/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  width: 75%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem 0;
  margin-top: 0rem;
}
.font {
  font-family: Helvetica;
  font-style: normal;
}
.description {
  font-family: Helvetica;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #a1a1a1;
}

@media (max-width: 480px) {
  .title {
    font-size: 26px;
    line-height: 34px;
  }
  .joinButton {
    margin-top: 1rem;
    padding: 0.3rem 1.3rem;
  }
  .box {
    width: 85%;
    height: 100%;
    display: block;
  }
}
